/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.lineargrad
{
	/*-fx-background-color : linear-gradient(to top right, rgba(34,193,195,1), rgba(29,97,163,1), rgba(24,8,134,1));*/
	-fx-background-color : linear-gradient(to top right, rgba(195,34,126,1) 0%, rgba(163,29,72,1) 30%, rgba(109,8,134,1));
}

.shadow
{
 -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.5, 0, 0);
}

.heading
{
	-fx-font-family: 'Noto Sans JP', sans-serif;
}

.jfx-text-field
{
-fx-text-inner-color: white;
}

.buttons
{
-fx-background-color: #20B2AA;
-fx-background-radius: 15px;
-fx-text-fill: #ffffff;
}

.buttons1
{
-fx-background-color: #ffb43b;
-fx-background-radius: 15px;
-fx-text-fill: #ffffff;
}